@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,400&display=swap');

@font-face {
  font-family: 'Linearicons';
  font-weight: normal;
  font-style: normal;
  src: local('Linearicons'),
  local('Linearicons'),
  url(./Linearicons.ttf) format('truetype');
}

.linearicons,

[class^="linearicons-"], [class*=" linearicons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Linearicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}